# Python
__pycache__/
*.pyc

# Virtual Env
.venv/
venv/

# VSCode
.vscode/

# Streamlit cache
.streamlit/

# Logs
*.log

# TTS Engine (tüm dizin)
tts_engine/

# Markdown dosyaları (README ve LICENSE hariç)
*.md
!README.md
!LICENSE.md